@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}

body {
  height: 100%;
  /*background-image: url("./assets/home/background-home-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;*/
}
